<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DogeWatcher</title>
</head>

<body>
    
    <div class="row"> 

    </div>

    <div class="row center m-5">
        <img src="..\assets\Doge.png" class="img-fluid" alt="Un Doge Bonito">
    </div>

    <div class="row center m-5">
        <h1>{{info.dogecoin.btc}} ₿</h1>
    </div>

    <div class="row center m-5">
        <div class="col-8">
            <div class="card">
                <h3 class="card-header center alert alert-success">🚀 Precio Bueno 🚀</h3>
                <div class="card-body">
                    <div class="row">   
                        <div class="col-6">
                            <h3 class="center">Cantidad</h3>
                            <div class="input-group input-group-lg">
                                <input type="number" class="form-control" placeholder="{{ info.dogecoin.btc }}">
                                <span class="input-group-text" id="inputGroup-sizing-lg">BTC</span>
                            </div>
                        </div>
                        <div class="col-6">
                            <h3 class="center">Color</h3>
                            <color-slider [color]="user.configs.colorHigh" (onChangeComplete)="changeCompleteGoodPrice($event)"></color-slider>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row center m-5">
        <div class="col-8">
            <div class="card">
                <h3 class="card-header center alert alert-danger">🪂 Precio Malo 🪂</h3>
                <div class="card-body">
                    <div class="row">   
                        <div class="col-6">
                            <h3 class="center">Cantidad</h3>
                            <div class="input-group input-group-lg">
                                <input type="number" class="form-control" placeholder="{{ info.dogecoin.btc }}" (value)="user.configs.valueHigh">
                                <span class="input-group-text" id="inputGroup-sizing-lg">BTC</span>
                            </div>
                        </div>
                        <div class="col-6">
                            <h3 class="center">Color</h3>
                            <color-slider [color]="user.configs.colorLow" (onChangeComplete)="changeCompleteBadPrice($event)"></color-slider>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>


</html>



<router-outlet></router-outlet>
