<body *ngIf="!isLoading">
    
    <div class="row"> 

    </div>

    <div class="row center m-5">
        <img src="..\assets\Doge.png" class="img-fluid" alt="Un Doge Bonito">
    </div>

    <div class="row center m-5">
        <h1 *ngIf="info">${{info?.dogecoin?.mxn}} MXN</h1>
    </div>

    <div class="row center m-5" *ngIf="info">
        <div class="col-8">
            <div class="card">
                <h3 class="card-header center alert alert-success">🚀 Precio Bueno 🚀</h3>
                <div class="card-body">
                    <div class="row">   
                        <div class="col-6">
                            <h3 class="center">Cantidad</h3>
                            <div class="input-group input-group-lg">
                                <input type="number" class="form-control" placeholder="{{ user.valueHigh ? user.valueHigh : info.dogecoin.mxn  }}" [(ngModel)]="newHighValue">
                                <span class="input-group-text" id="inputGroup-sizing-lg">MXN</span>
                            </div>
                        </div>
                        <div class="col-6">
                            <h3 class="center">Color</h3>
                            <color-slider [color]="user?.colorHigh" (onChangeComplete)="changeCompleteGoodPrice($event)"></color-slider>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row center m-5" *ngIf="info">
        <div class="col-8">
            <div class="card">
                <h3 class="card-header center alert alert-danger">🪂 Precio Malo 🪂</h3>
                <div class="card-body">
                    <div class="row">   
                        <div class="col-6">
                            <h3 class="center">Cantidad</h3>
                            <div class="input-group input-group-lg">
                                <input type="number" class="form-control" placeholder="{{ info.dogecoin.mxn }}" [(ngModel)]="newLowValue">
                                <span class="input-group-text" id="inputGroup-sizing-lg">MXN</span>
                            </div>
                        </div>
                        <div class="col-6">
                            <h3 class="center">Color</h3>
                            <color-slider [color]="user?.colorLow" (onChangeComplete)="changeCompleteBadPrice($event)"></color-slider>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row center m-5" *ngIf="isChange || newLowValue || newHighValue">
        <button type="button" class="btn btn-primary btn-lg" (click)="onEnter()" >Guardar Cambios</button>
    </div>

</body>


